.ContactUsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 240px;
  padding-left: 70px;
  background: url(../../Images/bg-about.jpg) repeat-x top center;
  background-size: cover;
  /* height: 100vh; */
}
.ContactUsContainerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding-top: 240px;
  padding-right: 70px;
  background: url(../../Images/bg-about.jpg) repeat-x top center;
  background-size: cover;
  direction: rtl;
}
.whatsAppIcon {
  width: 50px;
  padding-left: 10px;
  vertical-align: middle;
}

.whatsAppLi span {
  list-style: circle;
  text-decoration: solid;
}
ul {
  direction: rtl;
}
.orderList .contactRight {
  direction: rtl;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.orderList .contact {
  /* align-items: flex-end; */
  /* text-align: end; */
  /* font-size: 10px; */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.orderList .contact span {
  color: #00548b;
}
.orderList .contactRight span {
  color: #00548b;
}
.headingInfoC {
  font-size: 28px !important;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: fit-content;
  background-color: #00538be5;
  border-radius: 10px;
  padding: 50px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}
.inputNormal {
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  background-color: white;
  border: 1px solid black;
  /* margin: 10px; */
  /* margin-top: 15px; */
}
.inputMessg {
  width: 500px;
  height: 250px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
  background-color: white;
  border: 1px solid black;
  /* margin-top: 10px; */
}

.sendButton {
  font-size: 18px;
  background-color: aliceblue;
  font-weight: bold;
}
.sendButton:hover {
  font-size: 18px;
  background-color: white;
  font-weight: bold;
}

.FormWord {
  font-size: 24px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 30px;
}
.label {
  padding-top: 10px;
  padding-bottom: 10px;
}
.errors {
  padding-top: 0px;
  margin-top: 2px;
  font-size: 16px;
  color: rgb(179, 9, 9);
}

.isValid {
  display: none;
}

.isValid:invalid {
  display: block;
}
.success {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);
  padding: 5px;
}
.checkIcon {
  padding-left: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media screen and (max-width: 1090px) {
  .ContactUsContainer {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 120px;
  }
  .ContactUsContainerRight {
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 120px;
  }
  .headingInfoC {
    font-size: 24px !important;
  }
  .heading {
    font-size: 30px;
  }
  .headingInfo {
    font-size: 16px;
  }
  .whatsAppIcon {
    width: 30px;
  }

  .formContainer {
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
  }
  .inputNormal {
    padding: 5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }
  .inputMessg {
    width: 300px;
    height: 170px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .sendButton {
    font-size: 15px;
    background-color: aliceblue;
    font-weight: bold;
  }

  .FormWord {
    font-size: 20px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
  }
  .label {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .errors {
    font-size: 12px;
  }
  .success {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .ContactUsContainer {
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 30px;
  }
  .ContactUsContainerRight {
    padding-right: 10px;
    padding-top: 100px;
    padding-left: 30px;
  }
  .heading {
    font-size: 18px;
  }
  .headingInfo {
    font-size: 19px;
  }
  .orderList p {
    font-size: 12px;
  }
  .orderList li {
    font-size: 10px;
  }
  .whatsAppIcon {
    width: 20px;
  }

  .formContainer {
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
  }
  .inputNormal {
    padding: 3px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin: 5px;
  }
  .inputMessg {
    width: 250px;
    height: 150px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .sendButton {
    font-size: 12px;
    background-color: aliceblue;
    font-weight: bold;
  }

  .FormWord {
    font-size: 16px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
  }
  .label {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .headingInfo3 {
    font-size: 14px;
  }
  .headingInfo3 span {
    font-size: 14px;
  }
  .contact {
    font-size: 14px !important;
  }
  .errors {
    font-size: 10px;
  }
  .success {
    font-size: 10px;
  }
}
