.HeaderContainer {
  font-size: 50px;
}
/* .HeaderSlider {
  box-shadow: #ffffff9a;
} */
.onHeader {
  padding-top: 20px;
  position: absolute;
  /* pointer-events: none; */
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: rgb(255, 255, 255);
  background-color: rgba(211, 211, 211, 0.804);
}
.uaeFlag {
  width: 65px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-bottom: 12px;
}
.logo {
  align-self: right;
}
.LogoPic {
  width: 480px;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: black;
  width: 100%;
}
.linksRight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: black;
  width: 100%;
  direction: rtl;
}
.link-underheader {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  color: #345e9e;
  height: 4vh;
}
.BOwidth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* width: 25%; */
}

#hidden {
  display: flex;
}
.tab-btn {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.TabBarContainer {
  display: flex;
  justify-content: center;
  width: 90%;

  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
}

.pOnImage {
  color: rgba(255, 255, 255, 0.755);
  text-align: center;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-top: 40px !important;
}
.w3rcontainer {
  border: 1px solid #cccfdb;
  border-radius: 2px;
}
.hover-underline-animation1 {
  display: inline-block;
  position: relative;
  /* color: red; */
}

.hover-underline-animation1:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation2 {
  display: inline-block;
  position: relative;
  /* color: red; */
}
.hover-underline-animation2:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation2:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation3 {
  display: inline-block;
  position: relative;
  /* color: red; */
}
.hover-underline-animation3:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation3:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation4 {
  display: inline-block;
  position: relative;
  /* color: red; */
}
.hover-underline-animation4:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation4:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation5 {
  display: inline-block;
  position: relative;
  /* color: red; */
}
.hover-underline-animation5:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation5:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation6 {
  display: inline-block;
  position: relative;
  /* color: red; */
}
.hover-underline-animation6:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation6:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.DropDownMenu {
  /* position: fixed;
  top: 14px; */
  /* width: 10rem; */
  /* left: 0; */
  /* padding-left: 50px; */
  /* width: 75%; */
  /* width: max-content; */
  /* padding-right: 28px; */
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: center;
  /* margin-left: 28px; */
  text-align: center;
  list-style: none;
  background-color: #345e9e;
  color: white;
  /* width: 80%; */
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 20px;
  /* display: none; */
  padding-right: 5px;
  padding-left: 5px;
}
.DropDownMenu a {
  color: white;
  list-style: none;
  text-decoration: none;
}

.link-dropDown {
  background-color: #345e9e;
  color: white;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  text-align: center;
}
.link-dropDown p {
  align-self: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
/* .drop:hover + .DropDownMenu {
  display: block;
} */
li {
  list-style: none;
}

.enIcon {
  width: 25px;
  margin: 0px 3px;
  padding: 0px;
  vertical-align: center;
}

.langContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.langButton {
  background-color: transparent;
  border: none;
}
.langButton:active {
  background-color: red;
  /* border: 1px solid red; */
}
.css-1ujsas3 {
  display: none !important;
}
.hiddenLink {
  display: none;
}
.linkDropDown {
  color: #345e9e;
  font-weight: bold;
  text-decoration: none;
}

.buttonDropDown {
  background-color: #345e9e !important;
  width: 4px !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  /* display: none !important; */
  margin-left: 4px !important;
  padding: 0px !important;
  min-width: 20px !important;
  line-height: 1px;
  /* display: none; */
}
.langButton {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 3px;
}
.neon {
  font-family: neon;
  color: #fb4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #f40a35;
}

.flux1,
.flux2 {
  font-family: neon;
  color: #345e9e;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #345e9e;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
  font-size: 20px;
  line-height: 1vw;
  text-shadow: none !important;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16,
      0 0 10vw #fa1c16, 0 0 0.4vw #fed128, 0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b,
      0 0 5vw #800e0b, 0 0 0.2vw #800e0b, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
}

.flux1 {
  /* height: 0px !important; */
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
  font-size: 24px;
  line-height: 1vw;
  text-shadow: none !important;
}
.flux2 {
  /* height: 0px !important; */
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
  font-size: 24px;
  line-height: 0vw;
  text-shadow: none !important;
}
.flux2 p {
  padding: 0px;
  margin: 10px;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: rgb(202, 202, 5);
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #345e9e;
  }
}

.englishV {
  padding: 10px;
  background-image: url("../../Images/fr.png");
  background-color: #082180;
  color: red;
}

.select-option {
  font-weight: bold;
  color: #345e9e;
  padding: 5px;
  background-color: white;
  margin-right: 40px !important;
  margin-bottom: 10px;
}
.afterhiddenp {
  padding: 0px;
}

@media screen and (max-width: 1877px) {
  .flux1 {
    line-height: 1.2vw;
  }
}

@media screen and (max-width: 1660px) {
  .onHeader {
    padding-top: 20px;
    position: absolute;
    /* pointer-events: none; */
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(211, 211, 211, 0.804);
  }
  .link-dropDown p {
    padding: 1px;
  }
  .link-underheader {
    /* color: white !important; */
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    height: 4vh;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    /* width: 100%; */

    color: black;
  }

  .link-underheader {
    font-size: 16px;
  }
  .flux1 {
    line-height: 1vw;
  }
  .neon {
    font-size: 14px;
    /* padding-top: 2px; */
    /* margin-right: 510px; */
  }
  .LogoPic {
    width: 400px;
    /* margin-left: 150px; */
  }
  .uaeFlag {
    width: 55px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 1260px) {
  .onHeader {
    flex-direction: row;
  }
  .HeaderContainer {
    background-size: cover;
  }
  .tab-btn {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    text-align: end;
    font-size: 50px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
    padding-right: 20px;
  }
  .TabBarContainer {
    display: block;

    width: 100%;

    text-align: center;
  }
  .links {
    display: none;
  }
  .linksRight {
    display: none;
  }
  #hidden {
    position: absolute;
    left: 0px;
    margin-top: 18px;
    padding-top: 15px;
    height: auto;
    width: 100%;
    background-color: rgba(36, 30, 18, 0.623);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .link-underheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    margin-right: 0px;
  }
  .link-underheader:visited {
    display: none;
  }
  .logo {
    width: 70%;
  }
  .pOnImage {
    font-size: 16px;
  }
  .LogoPic {
    width: 230px;
  }
  .uaeFlag {
    width: 35px;
    position: absolute;
    top: 45px;
    right: 320px;
    padding-bottom: 12px;
  }
  .DropDownMenu {
    display: none;
  }
  .hover-underline-animation1:after {
    width: 100%;
  }
  .hover-underline-animation2:after {
    width: 100%;
  }
  .hover-underline-animation3:after {
    width: 100%;
  }
  .hover-underline-animation4:after {
    width: 100%;
  }
  .hover-underline-animation5:after {
    width: 100%;
  }
  .hover-underline-animation6:after {
    width: 100%;
  }
  .hiddenLink {
    display: flex;
  }

  .flexLink {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }
  .select {
    padding-bottom: 40px;
    margin-right: 0px !important;
    margin-bottom: 0px;
  }

  .BOwidth {
    width: 100%;
  }
  .flux2 {
    margin-bottom: 20px;
  }
  .select-option {
    margin-right: 0px !important;
  }
}
@media screen and (max-width: 580px) {
  .tab-btn {
    font-size: 35px;
    padding-right: 20px;
  }
  .LogoPic {
    width: 180px;
  }
  .link-underheader:visited {
    display: none;
  }
  .uaeFlag {
    width: 30px;
    position: absolute;
    right: 120px;
    top: 42px;
    padding-bottom: 0px;
  }
  .hiddenLink {
    display: flex;
  }
  .BOwidth {
    width: 100%;
  }
  .flux2 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 380px) {
  .flux2 {
    /* line-height: 0vw; */
    margin-bottom: 25px;
    /* font-size: 8vw; */
  }
}
@media screen and (max-width: 345px) {
  .uaeFlag {
    width: 30px;
    position: absolute;
    right: 80px;
    top: 42px;
    padding-bottom: 0px;
  }
}
