.turnKeyContainer {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 70px;
  background: url(../../Images/bg-about.jpg) repeat-x top center;
  background-size: cover;
}

.heading {
  font-size: 40px;
  color: #00548b;
  font-weight: bold;
}
.heading span {
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
  border-color: #d0021b;
  font-weight: 100;
}
.headingInfo {
  color: #666f84;
  font-size: 20px;
  font-weight: normal;
}
.headingInfo1 {
  color: #00548b;
  font-weight: bold;
  /* text-decoration: underline; */
  font-size: 18px;
}
.headingInfo2 {
  color: #00548b;
  font-weight: bold;
  font-style: oblique;
  text-decoration: underline;
  font-size: 18;
}
@media screen and (max-width: 1090px) {
  .ourBusinessContainer {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 120px;
  }
  .heading {
    font-size: 30px;
  }
  .headingInfo {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .ourBusinessContainer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
  }
  .heading {
    font-size: 20px;
  }
  .headingInfo {
    font-size: 12px;
  }
}
